html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equi="X-UA-Compatible", content="IE-edge")
        meta(name="viewport", content="width-device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title FIRST WEEK RESUME

    body
        header
            nav
                li 
                    a(href="/")
                        button Welcome 
                li 
                    a(href="/contact")
                        button Contacts
                li 
                    a(href="/product")
                        button Products
        main 
            block content 

    footer 
        p EXO RESUMING THE FIRST WEEK